body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

#chat_container {
    width: calc(100% - 20px);
    padding: 10px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: transparent;
    color: white;
    font-weight: 800;
    word-break: break-word;
}

.user_info {
    display: inline-block;
}

.badge {
    vertical-align: middle;
    border-radius: 10%;
}

.cheer_bits {
    font-size: 0.6em;
    -webkit-text-stroke: 1px black;
}

.emote {
    vertical-align: middle;
}
.emote-container {
    display: inline-block;
}

.emoji {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.zerowidth {
    /*margin-left: -100%;*/
}

/* Default styling for pronouns boxes.
   The border color and text color are set by script.js. */
.pronouns {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    font-weight: 750;
    padding: 0px 6px;
    margin: 0 2px;
    border-radius: 10px;
    height: 1.3em;
    line-height: 1;
    vertical-align: middle;
     border: 3px solid;
}

/* Inner span for pronouns text so a gradient fill can be applied to text only 
   without affecting the box background */
.pronouns .pronouns-text {
    display: inline-block;
}

.pronouns.trans {
    border-color: transparent !important;
    background-image:
        linear-gradient(#2b2b2b, #2b2b2b),
        linear-gradient(90deg, #5bcefa, #f5a9b8, #ffffff, #f5a9b8, #5bcefa);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.trans .pronouns-text {
    background-image: linear-gradient(90deg, #5bcefa, #f5a9b8, #ffffff, #f5a9b8, #5bcefa);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.lesbian {
    border-color: transparent !important;
    background-image:
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #fd592d, #ffffff, #fe089a, #ffffff, #fd592d);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.lesbian .pronouns-text {
    background-image: linear-gradient(90deg, #fd592d, #ffffff, #fe089a, #ffffff, #fd592d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.enby {
    border-color: transparent !important;
    background-image: 
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #fcf434, #ffffff, #9c59d1, #ffffff, #fcf434);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.enby .pronouns-text {
    background-image: linear-gradient(90deg, #fcf434, #ffffff, #9c59d1, #ffffff, #fcf434);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.bi {
    border-color: transparent !important;
    background-image: 
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #e33a8c, #e33a8c, #b06db0, #3366ff, #3366ff, #b06db0, #e33a8c);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.bi .pronouns-text {
    background-image: linear-gradient(90deg, #e33a8c, #e33a8c, #b06db0, #3366ff, #3366ff, #b06db0, #e33a8c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.pan {
    border-color: transparent !important;
    background-image: 
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #ff218e, #ff218e, #fcd800, #0194fc, #0194fc, #fcd800, #ff218e);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.pan .pronouns-text {
    background-image: linear-gradient(90deg, #ff218e, #ff218e, #fcd800, #0194fc, #0194fc, #fcd800, #ff218e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.gay {
    border-color: transparent !important;
    background-image: 
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #078d70, #ffffff, #6c40db, #ffffff, #078d70);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.gay .pronouns-text {
    background-image: linear-gradient(90deg, #078d70, #ffffff, #6c40db, #ffffff, #078d70);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.transbian {
    border-color: transparent !important;
    background-image: 
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #5bcefa, #f5a9b8, #ffffff, #f5a9b8, #5bcefa);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.transbian .pronouns-text {
    background-image: linear-gradient(90deg, #fd592d, #ffffff, #fe089a, #ffffff, #fd592d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.aro {
    border-color: transparent !important;
    background-image: 
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #3da542, #a7d479, #ffffff, #a9a9a9, #3da542);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.aro .pronouns-text {
    background-image: linear-gradient(90deg, #3da542, #a7d479, #ffffff, #a9a9a9, #3da542);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.ace {
    border-color: transparent !important;
    background-image: 
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #a3a3a3, #ffffff, #9f009f, #a3a3a3);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.ace .pronouns-text {
    background-image: linear-gradient(90deg, #a3a3a3, #ffffff, #9f009f, #a3a3a3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.aroace {
    border-color: transparent !important;
    background-image: 
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #f9a123, #ffffff, #1080af, #ffffff, #f9a123);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.aroace .pronouns-text {
    background-image: linear-gradient(90deg, #f9a123, #ffffff, #1080af, #ffffff, #f9a123);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

.pronouns.pride {
    border-color: transparent !important;
    background-image: 
        linear-gradient(#2c2c2c, #2c2c2c),
        linear-gradient(90deg, #ff3333, #ffaa33, #ffed33, #00cc55, #3388ff, #aa44cc, #ff3333);

    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: borderScroll 10s linear infinite reverse;
}

.pronouns.pride .pronouns-text {
    background-image: linear-gradient(90deg, #ff3333, #ffaa33, #ffed33, #00cc55, #3388ff, #aa44cc, #ff3333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% 100%;
    animation: textGradientScroll 18s linear infinite;
}

@keyframes textGradientScroll {
    0% { background-position: 0% 0; }
    100% { background-position: 200% 0; }
}

@keyframes borderScroll {
    0% { background-position: 0% 0; }
    100% { background-position: 200% 0; }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
